#menu > button:first-child:hover {
    transform: translateY(1vh);
}

#menu > button:last-child:hover {
    transform: translateY(-1vh);
}

main {
    display: grid;
    grid-template-areas:
        's s b b c c'
        's s b b c c'
        'o o o o o scale';
    width: 1300px;
    height: 700px;
    background-color: #534439;
    border: 0.8vh #534439 solid;
}

main > div{
    position: relative;
    background-size: 100% 100%;
    box-sizing: border-box;
    filter: brightness(0.5);
}

.on{
    filter: brightness(1);
}

#cucina {
    grid-area: c;
    background-image: url(../img/cucina.jpeg);
}

#sala {
    grid-area: s;
    border-right: 0.8vh #534439 solid;
    background-image: url(../img/salotto.avif);
}

#corridoio {
    grid-area: o;
    border-top: 0.8vh #534439 solid;
    background-image: url(../img/parquet.jpg);
}

#scale {
    grid-area: scale;
    border-top: 0.8vh #534439 solid;
    background-color: green;
}

#bagno {
    grid-area: b;
    border-right: 0.8vh #534439 solid;
    background-image: url(../img/bagno.jpg);
}

.slider{
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    width: 60px;
    height: 34px;
    border: 0.4vh #534439 solid;
    border-radius: 3vh;
    overflow: hidden;
}

.slider > span {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.slider > input{
    display: none;
}

.slider > span:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: white;
    transition: 0.4s;
}

.slider > input:checked + span {
    background-color: #2196F3 !important;
}

.slider > input:checked + span::before {
    transform: translateX(26px);
}

@media screen and (max-width: 1400px) {
    main{
        width: 910px;
        height: 490px;
    }
}

@media screen and (max-width: 960px) {
    main{
        width: 700px;
        height: 380px;
    }
}

@media screen and (max-width: 760px) {
    main{
        width: 590px;
        height: 318px;
    }
}

@media screen and (max-width: 620px) {
    main{
        width: 410px;
        height: 220px;
    }

    label{
        transform: scale(80%);
    }
}

@media screen and (max-width: 430px) {
    main{
        width: 330px;
        height: 176px;
    }

    label{
        transform: scale(70%);
    }
}

@media screen and (max-width: 350px) {
    main{
        transform: scale(80%);
    }
}