body > img:first-child{
    width: 100%;
    height: 100%;
}

#sign{
    bottom: 0%;
    left: 20%;
    position: absolute;
    width: 54vh;
    height: 42vh;
    background-size: contain;
    background-image: url(../img/sign.png);
}

#sign > input{
    position: absolute;
    top: 12%;
    left: 5%;
    width: 63%;
    height: 23%;
    font-family: "regular";
    color: #FFE6D8;
    text-align: center;
    font-size: 2.4vh;
    border-radius: 3vh;
    box-sizing: border-box;
    border: 0.6vh rgb(83, 58, 38) solid;
    background-color: #b04e34;
    outline: none;
    animation: pulse 1s alternate infinite ease-in-out;
}

.exist{
    transform: scale(100%) !important;
}

@keyframes pulse {
    0%  {text-shadow: 0 0 0.4vh transparent, 0 0 0.4vh transparent;
        transform: scale(100%);}
    100%{text-shadow: 0 0 0.4vh aliceblue, 0 0 0.4vh aliceblue;
        transform: scale(80%);}
}

#sign > input::placeholder{
    color: #FFE6D8;
}

input.pl:focus-visible , input.pl:focus{
    border-color: #ef8e38;
    animation-play-state: paused !important;
    text-shadow: none !important;
}

#menu > button:hover{
    transform: translateY(-1vh);
}

/* #menu > button:first-child:hover{ transform: translateY(1vh); }
#menu > button:last-child:hover { transform: translateY(-1vh);} */


@media screen and (max-width: 769px) {
    body > img{
        width: 100%;
    }

    #sign{
        bottom: -5%;
        left: -10%;
        transform: scale(70%);
    }

    .pl{
        border-width: 0.5vh;
    }
}

@media screen and (max-width: 378px) {
    #sign{
        left: -30%;
        transform: scale(55%);
    }

    #menu{
        transform: scale(80%);
    }
}